html{
    background-size:cover;
    background-image: url(images/grid-bkgd.jpg);
    background-blend-mode: lighten;
}

body{
    width:110%;
}
/* NAV BAR */
.navbar-home{
    background-color:rgb(61, 209, 162);
    position: fixed;
    top:0;
    left:0;
    height:65pt;
    width:100%;
    z-index: 9999;
}

/* LOGO BUTTON */
#logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    letter-spacing: 5pt;

    padding-top:6pt;
}
    #logo a{
        text-decoration: none;
        color:black;
        float:left;
    }
.logo-btn{
    background-color:rgb(246, 224, 139);
    width:183pt;
    margin-left:15pt;
    height:35pt; 
}
    .logo-btn li{
        list-style: none;
    }
    .home-btn{
        position:relative;
        top:4pt;
        bottom:40pt;
        left:-9pt;
        float:right;
    }

    

/* TITLE */
header h1{
    font-family: 'Righteous', cursive;
    font-size:50pt;
    letter-spacing: 3pt;
    color:rgb(128, 71, 155);

    margin-left:120px;
    padding-top: 100pt;
    padding-bottom:none;
    margin-bottom:0;
    padding-bottom:40pt;
}

header h2{
    font-family: 'Rubik', sans-serif;
    color:rgb(75, 43, 162);
    font-size: 22pt;
    padding-left:100pt;
    padding-top:15pt;
}
/* CONTENT */
.content{
    padding-bottom:20pt;
    margin-left:100pt;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width:40%;
    line-height: 19pt;
    font-size: 14pt;
}

/* IMAGES */
.about-img{
    width:30%;
    float:right;
    margin-right:200pt;
    position:relative;
        top:-30pt;

    margin-left:30pt;
}
    .about-img .v1{
        top:-200px;
    }

.hach-img{
    width:30%;
    float:right;
    margin-left:0;
    position:relative;
        right:15vw;
}
.haxa{
    border-radius: 23px;
    border-color: black;
    box-shadow: 16px 10px 21px #ff00f27a;
}

/* VOCALOIDS GRID */
.vocaloid-grid{
    margin-left:4%;
    margin-right:5%;
}
.vocaloid-grid li{
    display:inline-block;
    width:30%;
    list-style: none;
    padding-right:20px;
    margin: 10pt 10pt 10pt 10pt;
}
/* .vocaloid-grid li:nth-child(3n+3){
    ;
} */
    .vocaloid-grid img{
        border-radius: 15px;
        display:flex;
        flex-wrap: wrap;
        width:60%;
    }

/* FOOTER */
footer{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    background-color: rgb(61, 209, 162);
    padding-top: 25px;
    padding-bottom: 15px;
    bottom:0;
}
    .footer-grid{
        display:flex;
    }
    footer .footer-grid{
        list-style-type: none;
        margin-left:20%;
        margin-right:50%;
    }
        footer li{
            padding-right:4vw;
        }
    footer a{
        text-decoration: none;
        color:blanchedalmond;
        padding-right:20pt;
    }

