html{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin:5%;
    background-color:rgb(221, 235, 206);
}

h2{
    font-size: 35px;
    color:rgb(181, 19, 19)
}

.panzanel{
    width:70%;
}

.link{
  margin-left:590px; 
  color:black; 
}

.link2{
    color:black;
    text-transform: bolder;
}

.descr{
    font-style:italic;
    font-weight:normal;
    padding-bottom:20px;
    padding-top:20px;
    margin-left:40px;
}

.ingred{
    font-weight:normal;
    padding-bottom:20px;
}

.direct{
    font-weight: normal;
    padding-bottom:20px;
    margin-right:220px;
}

.bread{
    width:25%;
    padding-bottom:50px;
}

.toast{
    width:55%;
    padding-bottom:96px;
}

.research{
    font-weight: normal;
    padding-bottom:20px;
    margin-right:220px;
}