html{
    background-color:rgb(244, 228, 178);
    border-style:groove;
    border-width:medium;
    border-color:teal;
    padding-bottom:100px;
}

h1{
    font-family:sans-serif;
    margin:50px 100px auto 100px;
    color:tomato;
}

h2{
    margin:30px 50px auto 190px;
    font-family:sans-serif;
    font-style:normal;
}

h3{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color:rgb(0, 96, 96);
}

h4{
    margin:10px auto 10px auto;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

section{
    margin: 5px auto 5px auto;
    text-align: center;
    font-family:sans-serif;
    line-height:20px;
    color:rgb(244, 228, 178);
    background-color:rgba(255, 99, 71, 0.564);
    padding-bottom: 90px;
    
}

.chorus{
    margin: 30px auto 10px auto;
    text-align: center;
    font-family:sans-serif;
    line-height:20px;
    background-color:rgba(255, 99, 71, 0.564);
    padding-bottom: 20px auto 20px auto;
}

.link{
    color:teal;
}


